extends layout

block append styles
    link(rel='stylesheet', href='/stylesheets/device.css')

block append scripts
    script.
        globalDevice = !{JSON.stringify(device)}
    script(src='/javascripts/SMIThDevice.js')
    script(src='/javascripts/device.js')

block content
    div.content
        div.container.main-container
            div.device
                p.name
                    a(href="./") Home
                    span  > #{device.name}
                form(name="web-constraints")