doctype html
html(lang="en")
    head
        title= headTitle
        block styles
            include includes/styles
        block scripts
            include includes/javascripts
    body
        block content
